.login {
    height: calc(100vh - 50px);
    background: url("https://th.bing.com/th/id/OIP.gw23gi_lMMZpXIUD-ZmwiwHaEo?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loginOverlay {
    background-color: rgba(0, 0, 0, 0.63);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.loginTitle {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 20px;
}


.loginForm>label {
    margin: 10px 0;
    color: white;
}


.loginForm>input {
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}


.loginForm>input {
    outline: none;
}

.loginSubmit {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}


.loginSubmit:disabled {
    cursor: not-allowed;
    background-color: rgb(207, 171, 158);
}

.registerSubmit {
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}